:root {
    --form-border-color: rgba(255, 255, 255, 0.15);
}

.form-container {
    padding: 1.5rem;
}
.form-container > form {
    min-width: 400px;
    max-width: 700px;
    width: 50%;

    box-shadow: 0px 40px 40px -40px rgb(24, 24, 27);
}
.form-in-modal {
    position: absolute;
}

.form-container > form > div.row {
    display: flex;
    flex-direction: row;
}
.form-container > form > div.row {
    border-bottom: 1px solid var(--form-border-color);
}
.form-container > form > div.row:last-of-type {
    border-bottom: none;
}


.form-container > form > div.row > div.field-input input {
    background-color: transparent !important;
    width: 100%;
    height: 4rem;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 1.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
}
.form-container > form > div.row > div label {
    position: absolute;
    left: 0.7rem;
    top: 0.75rem;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.7);
}


.form-container > form > div.row > div.field-checkbox input {
    margin-top: 1.25rem;
}


.form-container > form > div.row > div {
    display: flex;
    padding: 0.6rem;
    width: 100%;
    position: relative;
    height: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form-container > form > div.row > div.field input, 
.form-container > form > div.row > div.field-extended input { 
    border: none;
    padding: .5rem 0rem;
    background-color: var(--background-color);
    margin-top: .25rem;
    width: 100%;
}
.form-container > form > div.row > div input:focus {
    outline: none;
}

.form-container > form > div.row > div.field-extended {
    width: 100%;
    border: none;
    padding: 0.6rem;
}
.form-container > form > div.row > div.field-extended-button {
    width: 100%;
    border: none;
    padding: 0;
}
.form-container > form > div.row > div.field-button {
    width: 100%;
    padding: 0;
}

.form-container > form > div.row > div.field-extended-button > .button,
.form-container > form > div.row > div.field-button > .button {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    transition: all .25s ease;
    height: 100%;
}
.form-container > form > div.row > div.field-extended-button > .button:hover,
.form-container > form > div.row > div.field-button > .button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.form-container > form > div.row > div{
    border-right: 1px solid var(--form-border-color);
}
.form-container > form > div.row > div:last-of-type {
    border-right: none;
}