.form-container > form {
    padding: 1.5rem;
    min-width: 400px;
    max-width: 700px;
    width: 50%;
}

.form-container > form > div.row {
    display: flex;
    flex-direction: row;
}
.form-container > form > div.row:first-of-type {
    border: 2px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form-container > form > div.row:last-of-type {
    border: 2px solid var(--text-color);
    border-top: 1px solid var(--text-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.form-container > form > div.row:not(:first-of-type):not(:last-of-type) {
    border: 1px solid var(--text-color);
    border-left: 2px solid var(--text-color);
    border-right: 2px solid var(--text-color);
}


.form-container > form > div.row > div.field-input {
    width: 100%;
    position: relative;
    height: 4rem;
}
.form-container > form > div.row > div.field-input input {
    background-color: transparent !important;
    width: 100%;
    height: 4rem;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 1.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
}
.form-container > form > div.row > div.field-input input:focus {
    outline: none;
}
.form-container > form > div.row > div.field-input label {
    position: absolute;
    left: 0.7rem;
    top: 0.75rem;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.7);
}
.form-container > form > div.row > div.field-input:first-of-type {
    border-right: 1px solid var(--text-color);
}
.form-container > form > div.row > div.field-input:last-of-type {
    border-left: 1px solid var(--text-color);
}
.form-container > form > div.row > div.field-input:not(:first-of-type):not(:last-of-type) {
    border-right: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
}

.form-container > form > div.row > div.field,
.form-container > form > div.row > div.field-extended {
    display: flex;
    padding: 0.6rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form-container > form > div.row > div.field:first-of-type {
    border-right: 1px solid var(--text-color);
}
.form-container > form > div.row > div.field:last-of-type {
    border-left: 1px solid var(--text-color);
}
.form-container > form > div.row > div.field:not(:first-of-type):not(:last-of-type) {
    border-right: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
}
.form-container > form > div.row > div.field input, 
.form-container > form > div.row > div.field-extended input { 
    border: none;
    padding: .5rem 0rem;
    background-color: var(--background-color);
    margin-top: .25rem;
    width: 100%;
}
.form-container > form > div.row > div.field input:focus,
.form-container > form > div.row > div.field-extended input:focus {
    outline: none;
}

.form-container > form > div.row > div.field-extended {
    width: 100%;
    border: none;
    padding: 0.6rem;
}
.form-container > form > div.row > div.field-extended-button {
    width: 100%;
    border: none;
}

.form-container > form > div.row > div.field-extended-button > .button {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    transition: all .25s ease;
    height: 100%;
}
.form-container > form > div.row:last-of-type > div.field-extended-button > .button {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.form-container > form > div.row > div.field-extended-button > .button:hover {
    background-color: rgba(134, 134, 134, 0.15);
}