.flex-center-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    width: 100%;
}

.banger-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}