nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--nav-height);
    padding-left: var(--nav-side-padding);
    padding-right: var(--nav-side-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
nav > div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}
nav > div:not(:last-of-type):not(:first-of-type) {
    justify-content: center;
    align-items: center;
}
nav > div:last-of-type {
    justify-content: flex-end;
}
nav > div:first-of-type > a.logo {
    font-size: 1.5rem;
}
nav a:not(.logo) {
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
nav > div:last-child > p {
    margin-right: 1rem;
    color: rgba(255, 255, 255, 0.75);
    font-style: italic;
}

nav > div:first-child > p {
    margin-top: 20px;
    padding-left: 1rem;
}