{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block body %}
<div class="form-container flex-center-contents">
    <form action="" method="POST">
        <div class="row">
            <div class="field">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="user123" value="{{ request.form.get('username', '') }}">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="pass123">
            </div>
        </div>
        <div class="row">
            <div class="field-extended-button">
                <input class="button" type="submit" value="Login">
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <article class="message is-warning">
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}