{% extends "base.html" %}

{% block title %}Old Paycheck Calculator{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="columns">
        <div class="column"></div>
        <div class="column to-one-third">
            <div class="fixed-grid has-3-cols">
                <form id="paycheck-calculator-form" class="grid">
                    <div class="subtitle is-4 cell is-col-span-3 mb-1">
                        <h2>Payrates ( $/HR )</h2>
                    </div>
                    <div class="field cell">
                        <label class="label" for="base_payrate">Base</label>
                        <input class="input" type="float" name="base_payrate" id="base_payrate" />
                    </div>
                    <div class="field cell">
                        <label class="label" for="shiftdiff_payrate">Shift Diff</label>
                        <input class="input" type="float" name="shiftdiff_payrate" id="shiftdiff_payrate" />
                    </div>
                    <div class="subtitle is-4 cell is-col-span-3 mb-1">
                        <h2>Hours Worked</h2>
                    </div>
                    <div class="field cell">
                        <label class="label" for="base_hours">Base</label>
                        <input class="input" type="float" name="base_hours" id="base_hours" />
                    </div>
                    <div class="field cell">
                        <label class="label" for="shiftdiff_hours">Shift Diff</label>
                        <input class="input" type="float" name="shiftdiff_hours" id="shiftdiff_hours" />
                    </div>
                    <div class="field cell">
                        <label class="label" for="overtime_hours">OT / HOL</label>
                        <input class="input" type="float" name="overtime_hours" id="overtime_hours" />
                    </div>
                    <div class="subtitle is-4 cell is-col-span-3 mb-1">
                        <h2>Voluntary Deductions</h2>
                    </div>
                    <div class="field cell is-col-span-3">
                        <label class="label" for="benefit_cost">Benefits</label>
                        <input class="input" type="float" name="benefit_cost" id="benefit_cost" />
                    </div>
                    <div class="cell is-col-span-3">
                        <input class="button" type="submit" value="Calculate"/>
                    </div>
                    <h2>Gross Pay: $<span id="grosspay">0.00</span></h2>
                    <h2>Net Pay: $<span id="netpay">0.00</span></h2>
                    <h2>Percent Withheld: <span id="withheld">0.0</span>%</h2>
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>

{% endblock %}