{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block body %}
<div class="form-container pt-40 flex justify-center align-center">
    <form class="bg-zinc-900" action="" method="POST">
        <div class="row">
            <div class="field-input">
                <label for="name">Name</label>
                <input autocomplete="off" placeholder='firstname' type="text" name="name" id="name" value="{{ request.form.get('name', '') }}">
            </div>
            <div class="field-input">
                <label for="username">Username</label>
                <input autocomplete="off" placeholder='user123' type="text" name="username" id="username" value="{{ request.form.get('username', '') }}">
            </div>
        </div>
        <div class="row">
            <div class="field-input">
                <label for="password">Password</label>
                <input autocomplete="off" placeholder='pass123' type="password" name="password" id="password">
            </div>
            <div class="field-input">
                <label for="confirm_password">Confirm Pass</label>
                <input autocomplete="off" placeholder='pass123' type="password" name="confirm_password" id="confirm_password">
            </div>
        </div>
        <div class="row">
            <div class="field-extended-button">
                <input class="button" type="submit" value="Register">
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <article class="message is-warning">
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}