{% extends "base.html" %}

{% block title %}Recurring Transactions{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="banger-2">
    <div class="flex-center-contents">
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Day of Month</th>
                <th>Is Credit</th>
            </tr>
            {% for transaction in current_user.recurring_transactions %}
                <tr>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.day_of_month }}</td>
                    <td>{{ transaction.is_credit }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="form-container flex-center-contents">
        <form action="" method="POST">
            <div class="row">
                <div class="field-input">
                    <label for="name">Name</label>
                    <input autocomplete="off" type="text" name="name" id="name" placeholder="expense name">
                </div>
                <div class="field-input">
                    <label for="amount">Amount</label>
                    <input autocomplete="off" type="float" name="amount" id="amount" placeholder="0.00">
                </div>
            </div>
            <div class="row">
                <div class="field-input">
                    <label for="day_of_month">Day of Month</label>
                    <input autocomplete="off" type="text" name="day_of_month" id="day_of_month" placeholder="15">
                </div>
                <div class="field-checkbox">
                    <label for="is_credit">Is Credit</label>
                    <input autocomplete="off" type="checkbox" name="is_credit" id="is_credit">
                </div>
            </div>
            <div class="row">
                <div class="field-extended-button">
                    <input class="button" type="submit" value="Create Expense">
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
</div>
{% endblock %}